.SearchResults {
  max-height: 950px;
  overflow-y: scroll;
  background-color: rgba(29, 185, 84, 0.9);
  box-shadow: 0 4px 2px 2px #000000;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  padding: 20px;
}

.SearchResults::-webkit-scrollbar {
  width: 10px;
}

.SearchResults::-webkit-scrollbar-track {
  background: rgba(29, 185, 84, 0.9);
  border-radius: 5px;
}

.SearchResults::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

.SearchResults::-webkit-scrollbar-thumb:hover {
  background: #555;
}
