.Playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(29, 185, 84, 0.9);
  box-shadow: 0 4px 2px 2px #000000;
  padding: 20px;
  border-radius: 5px;
  max-height: 950px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 1.5rem;
}

.Playlist::-webkit-scrollbar {
  width: 10px;
}

.Playlist::-webkit-scrollbar-track {
  background: rgba(29, 185, 84, 0.9);
  border-radius: 5px;
}

.Playlist::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

.Playlist::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Playlist input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.PlaylistSave {
  background-color: #35da1f;
  color: #191414;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.PlaylistSave:hover {
  background-color: #19eb24;
}

@media only screen and (max-width: 440px) {
  .Playlist {
    margin-bottom: 3vw;
  }
}
