.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.PlaylistSave {
  background-color: #35da1f !important;
  font-weight: 700 !important;
}

.PlaylistSave:hover {
  background-color: #19eb24 !important;
}

.playlistInputs {
  border-radius: 4px !important;
  background-color: #121212;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  ) !important;
}
