.header-container {
  padding: 0.5rem 0;
  background-color: #1db954;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  text-align: center;
  font-family: "Playfair Display", Georgia, serif;
  font-size: 2rem;
  color: #191414;
  margin: 0;
}
