body {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.55rem;
  color: #000;
  margin-top: 0;
  margin-bottom: 9px;
  text-align: center;
}

.App {
  min-height: calc(100vh - (1.88rem + 2 * 0.88rem));
  padding: 0;
  background-image: url("./background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #fff;
}

.flex-container {
  display: flex;
}

.flex-item {
  flex: 1;
  height: 100%;
  flex-grow: 1;
  margin: 0 0.8%;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-item {
    margin: 0 5%;
  }
}

.App-playlist {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: start;
  justify-items: center;
}

@media only screen and (max-width: 440px) {
  .App-playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
